body, html {
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;

}

/**
 * Header
 **/
header {
  height: 60vh;
  margin-bottom: 32px
}

header nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;

  background-color: #3FC380;

<<<<<<< HEAD
=======

>>>>>>> 9a23fc3e48d06a725410a4b5688e63e20202ef51
  z-index: 100;
}

header section.carosel {
  background-image: url(../img/header.jpg);
  height: 100%;
  background-size: cover;
}

i.fa.nav {
  color: white;
  font-size: 200%;
  margin: 16px;
}


/**
 * General & Section I
 **/
main {
  margin: 12px
}

main section {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;

}


h4 {
  color: #1a1a1a;

}
h4::after {
  content: "";
  display: block;
  width: 64px;
  height: 6px;
  background: #3FC380;
}



/**
* Section II: Timeline
**/
section#timeline {
 margin: 0 auto;
}

section#timeline .date h5 {
  margin-left: 36px;
}

/** <TIMELINE TRICKERY> **/
section#timeline .date h5:before {
  content: "";

  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  position: relative;

  top: 20px;
  left: -48px;


  background: #3FC380;

 }

section#timeline span.line {
 height: 100%;
 width: 6px;

 background: #000;


}

 /** </TIMELINE TRICKERY> **/


 section#timeline .date p {

   margin-left: 96px;
 }


/**
 * Section III: Refugees in the Democratic Republic of Congo
 **/
figure {
  margin-left: 0;
  padding-left: 0;
}

section#drc figcaption {
  text-align: center;
  width: 100%;
}



/**
 * Section IV: How you can help
 **/
<<<<<<< HEAD
section#help .items {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

section#help figure {
  width: 400px;
}


section#help figcaption {
  text-align: center;
=======
section#timeline {
  margin: 0 auto;

}


/** <TIMELINE TRICKERY> **/
section#timeline .date h5::before {
  content: "";

  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-flex;

  background: #3FC380;


  position: relative;
  top: 20px;

  /** Multiplied by 2 **/
  margin-right: 48px;
}

section#timeline span.line {
  height: 100%;
  width: 6px;

  background: #000;


>>>>>>> 9a23fc3e48d06a725410a4b5688e63e20202ef51
}

/** </TIMELINE TRICKERY> **/


section#timeline .date p {

  margin-left: 96px;
}



/**
 * Footer
 **/

footer {
  padding: 64px;
  background: #3FC380;
  color: #FFF;
  display: flex;
  flex-direction: column;

  align-items: center;

}

footer img {
  max-width: 400px;
}

footer a {
  color: #FFF;
}
