body, html {
  margin: 0;
  height: 100%;
}

img {
  max-width: 100%;

}

/**
 * Header
 **/
header {
  height: 60vh;
  margin-bottom: 32px
}

header nav {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;

  background-color: #3FC380;
  z-index: 100;

  display: flex;
  align-items: center;
}

header nav.md {
  display: none;
  transition: 0.5s top, 0.5s left;
}

header nav.md ul {
  width: 100%;
  display: flex;
  justify-content: space-around;

  margin-bottom: 0;
}

header nav.md ul li {
  list-style: none;
  display: inline;



}
header nav.md ul li a {
  color: #FFF;
}

@media screen and (min-width: 960px) {
  header nav.md {
    display: flex;
  }
  header nav.sm {
    display: none;
  }
}

header nav.sm span {
  top: 0;
  left: 0;
  transition: 0.3s all;
}


header nav.sm span.clicked span:nth-child(1) {
  top: 14px;
  transform: rotate(45deg);
}

header nav.sm span.clicked span:nth-child(2) {
  left: -60px;
}

header nav.sm span.clicked span:nth-child(3) {
  top: 2px;
  transform: rotate(-45deg);
}

header section.carosel {
  background-image: url(../img/header.jpg);
  height: 100%;
  background-size: cover;
}

@media (max-width: 960px) {
  header {
    height: 100vh;
  }
}

span.burger {
  height: 34px;
}

span.burger span.bar {
  width: 42px;
  height: 6px;

  margin-left: 16px;

  background: #FFF;

  position: relative;
  display: block;
}

span.burger span.bar:nth-child(1) {

}

span.burger span.bar:nth-child(2) {
  top: 8px;
}

span.burger span.bar:nth-child(3) {
  top: 16px;
}

/**
 * General & Section I
 **/
main {
  margin: 12px
}

main section {
  margin: 0 auto;
  width: 100%;
  max-width: 960px;

}


h4 {
  color: #1a1a1a;

}
h4::after {
  content: "";
  display: block;
  width: 64px;
  height: 6px;
  background: #3FC380;
}



/**
* Section II: Timeline
**/
section#timeline {
 margin: 4rem auto;

}

section#timeline .date h5 {
  margin-left: 96px;
  font-weight: bold;
}

@media (min-width: 550px) {
  section#timeline .date h5 {
    font-weight: normal;
  }
}
/** <TIMELINE TRICKERY> **/
section#timeline .date span.pin {
  content: "";

  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: inline-block;
  position: relative;

  top: 50px;


  background: #3FC380;

 }

section#timeline span.line {
 height: 100%;
 width: 6px;

 background: #000;


}

 /** </TIMELINE TRICKERY> **/


 section#timeline .date p {

   margin-left: 96px;
 }


/**
 * Section III: Refugees in the Democratic Republic of Congo
 **/
figure {
  margin-left: 0;
  padding-left: 0;
}

section#drc figcaption {
  text-align: center;
  width: 100%;
}



/**
 * Section IV: How you can help
 **/
section#help .items {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

section#help figure {
  max-width: 200px;
}

section#help figure img {
  width: 100%;
}

section#help figcaption {
  text-align: center;

}



/**
 * Footer
 **/

footer {
  padding: 64px;
  background: #3FC380;
  color: #FFF;
  display: flex;
  flex-direction: column;

  align-items: center;

}

footer img {
  max-width: 400px;
}

footer a {
  color: #FFF;
}
